# Manipulação de dados
pandas
numpy

# Visualização
matplotlib
seaborn

# Machine Learning
scikit-learn
statsmodels

# Monitoramento de drift
evidently

# Salvar/Carregar modelos
joblib

# Utilidades
tqdm
